* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background: rgba(16, 25, 32, 1);
}
p {
  margin: 0;
}
div:has(> video) {
  z-index: -1;
  overflow: hidden;
}
video {
  object-fit: cover;
}
